version: '3.7'

services:
  apcupsd:
    image: gregewing/apcupsd:latest
    container_name: apcupsd-master
    devices:
      - /dev/usb/hidraw0 #change to fit with yours
    ports:
      - 3551:3551
    environment:
      - UPSNAME=backups
      - UPSCABLE=usb
      - UPSTYPE=usb
      - DEVICE=
      - NETSERVER=on
      - NISIP=0.0.0.0
      - TZ=America/Toronto
    restart: unless-stopped
